<div class="step" [formGroup]="group">
  <h3>Step 1 – Problem Definition</h3>

  <div class="row">
    <label>Problem Title <small class="err">*</small></label>
    <input type="text" formControlName="problemTitle" placeholder="Enter title" />
    <div class="err" *ngIf="isInvalid('problemTitle')">
      Title is required (5–100 characters).
    </div>
  </div>

  <div class="row">
    <label>Problem Description <small class="err">*</small></label>
    <textarea rows="4" formControlName="problemDescription" placeholder="Enter description"></textarea>
    <div class="err" *ngIf="isInvalid('problemDescription')">
      Description is required (min 20 characters).
    </div>
  </div>

  <div class="two">
    <div class="row">
      <label>Category <small class="err">*</small></label>
      <select formControlName="category">
        <option value="">-- Select --</option>
        <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
      </select>
      <div class="err" *ngIf="isInvalid('category')">Category is required.</div>
    </div>

    <div class="row">
      <label>Reported Date (YYYY-MM-DD) <small class="err">*</small></label>
      <input type="date" formControlName="reportedDate" />
      <div class="err" *ngIf="isInvalid('reportedDate')">
        Reported Date is required and cannot be in the future.
      </div>
    </div>
  </div>

  <div class="row">
    <label>Location (Autocomplete) <small class="err">*</small></label>
    <input type="text" formControlName="location" list="locationList" placeholder="Select from list" />
    <datalist id="locationList">
      <option *ngFor="let l of locations" [value]="l"></option>
    </datalist>

    <div class="err" *ngIf="isInvalid('location')">
      Location is required and must match the predefined list.
    </div>
  </div>
</div>
